.color-on-hover {
    transition: color 0.5s ease;
}

.color-on-hover:hover {
    color: rgb(117, 139, 173);
}

.item-wrapper {
    overflow: hidden;
    position: relative;
}

.opaque-on-hover {
    background: rgba(117, 139, 173, 0.7);
    position: relative;
    height: 10em;
    transition: opacity 0.5s ease;
    opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    z-index: 1;
}

.item-wrapper:hover > .opaque-on-hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    z-index: 1;
}

.bg-grow-on-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: transform 0.5s;
    transform: scale(1.0);
    z-index: 0;
}

.item-wrapper:hover > .bg-grow-on-hover {
    transform: scale(1.15);
    z-index: 0;
}

.divider {
    margin: 0em 0em 2em 0em;
}

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:link {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:hover {
  color: inherit;
  text-decoration: inherit;
}
