.color-on-hover {
    transition: color 0.5s ease;
}

.color-on-hover:hover {
    color: rgb(117, 139, 173);
}

.item-wrapper {
    overflow: hidden;
    position: relative;
}

.item-wrapper .item-link {
    display: hidden;
}

.item-wrapper:hover .item-link {
    display: inherit;
}

.item-wrapper .item-opaque-on-hover {
    color: white;
    background: rgba(117, 139, 173, 0.9);
    position: relative;
    font-weight: bold;
    padding-top: 0.5em;
    padding-right: 1em;
    height: 14em;
    transition: opacity 0.5s ease;
    opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    z-index: 1;
}

.item-wrapper:hover .item-opaque-on-hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    z-index: 1;
}

.item-wrapper .item-bg-grow-on-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: transform 0.5s;
    transform: scale(1.0);
    z-index: 0;
}

.item-wrapper:hover .item-bg-grow-on-hover {
    transform: scale(1.15);
    z-index: 0;
}

.item-wrapper .item-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5em;
    width: 100%;
}

.item-text-indent {
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.divider {
    margin: 0em 0em 2em 0em;
}

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:link {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:hover {
  color: inherit;
  text-decoration: inherit;
}
