---
name: Coaching
description:
    - Indywidualne sesje coachingowe
    - Coaching zespołów
image: /img/t1.jpg
layout: main
slug: coaching
permalink: /oferta/coaching/
---

<div class="container-fluid">
    {% for o in site.coaching %}
    <div class="col-md-6">
        <div class="divider"></div>
        <div class="item-wrapper">
            <div class="item-bg-grow-on-hover" style="background-image: url('{{ o.image }}');">
            </div>
            <a class="deco-none" href="{{ o.url }}">
                <div class="item-opaque-on-hover">
                    <ul>
                        {% for d in o.description %}
                            <li>{{ d }}</li>
                        {% endfor %}
                    </ul>
                    <div class="item-bottom">
                        <hr>
                        <p class="text-center text-uppercase">
                            Przeglądaj
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <p class="item-text-indent">
            <a href="{{ o.url }}">
                {{ o.name }}
            </a>
        </p>
    </div>
    {% endfor %}
</div>
<div class="divider"></div>
