---
layout: main
permalink: /oferta/
---
<div class="container-fluid">
    {% for o in site.oferta %}
    <div class="col-md-4">
        <div class="divider"></div>
        <div class="item-wrapper">
            <div class="item-bg-grow-on-hover" style="background-image: url('{{ o.image }}');">
            </div>
            <div class="item-opaque-on-hover">
                <ul class="list-unstyled item-list">
                    {% for d in o.description %}
                        <li>{{ d }}</li>
                    {% endfor %}
                </ul>
                <div class="item-bottom">
                    <hr>
                    <p class="text-center text-uppercase">
                        Przeglądaj
                    </p>
                </div>
            </div>
            <a class="item-link deco-none" href="{{ o.url }}">
                <div>
                    &nbsp;
                </div>
            </a>
        </div>
        <p class="item-text-indent">
            <a href="{{ o.url }}">
                {{ o.name }}
            </a>
        </p>
    </div>
    {% endfor %}
</div>
<div class="divider"></div>
